*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;

}
#main{
   
    height: 600px;
    width: 1000px;
    background-color: rgb(54, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px dashed rgb(162, 12, 37);

.card{
    position: absolute;
    
    height: 350px;
    width: 270px;
    border: 5px solid salmon;
    border-radius:10%;
    overflow: hidden;
}
#card1{
    z-index: 4;
}
#card2{
    z-index: 3;
    rotate: -8deg;
    border: 5px solid blue;
}

#card3{
    z-index: 2;
    rotate: -16deg;
    border: 5px solid rgb(148, 55, 197);
}

#card4{
    z-index: 1;
    rotate: -24deg;
    border: 5px solid rgb(20, 4, 4);
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}